<h1>Password Generator</h1>

<form action="{% url 'password' %}">
    <select name="length">
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12" selected='selected'>12</option>
        <option value="13">13</option>
        <option value="14">14</option>
    </select>
    <br>
    <input type="checkbox" name="uppercase"> Uppercase
    <br>

    <input type="checkbox" name="numbers"> Numbers
    <br>

    <input type="checkbox" name="special"> Special Characters
    <br>
    
    <input type="submit" value="Password Generator">
</form>