{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5 mt-4">
        <div class="card">
            <div class="card-body">
                <h2><strong>Reset Password</strong></h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-facebook" type="submit">submit</button>
                </form>
            </div>
        </div>    
    </div>
</div>

{% endblock content %}