
{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center"><strong>Change Your Password</strong></h2>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-facebook btn-block" type="submit"><i class="icon-lock4"></i>Change</button>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="{% url 'dashboard' %}">Back</a>
                </div>
            </div>
        </div>    
    </div>
</div>

{% endblock content %}

 