{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Django Beginners - Home</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

{% include 'common/navbar.html' %}

<body class="bg-gradient-light">

  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="card mt-4">
          <div class="card-body">
              <div class="col-md-12">
                    <h1 class="h4 text-gray-900 mb-4"><legend>Welcome To Django Beginners Guide!</legend></h1>
                    <hr>
                  </div>
                  <a href="{% url 'register' %}" class="btn btn-outline-dark btn-block btn-lg">Register / Sign Up</a>
                  <br>
                  <a href="{% url 'login' %}" class="btn btn-outline-primary btn-block btn-lg">Login</a>
                  <br>
                  <a href="#" class="btn btn-outline-warning btn-block btn-lg">Forgot Password</a>
                  <hr>
                  <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i>Login With Facebook
                  </a>
                  <hr>
                  <div class="text-center">
                    <small class="blockquote">Md. Omar Faruk</small>
                  </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
